.contact {
  background-color: darkslateblue;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  box-shadow: 0px 3px 15px #00000080;
  list-style-type: none;
  padding: 15px 10px;
  position: fixed;
  top: 35vh;
  left: 0px;

  &__link {
    margin: 20px 0px;

    &__element {
      font-size: 20px;
      color: white;
      transition: all 400ms ease-in-out;

      &:hover {
        color: #54c10b;
      }
    }
  }
}
