.footer {
  display: flex;
  font-size: 0.8em;
  justify-content: center;
  align-items: center;
  padding: 20px 0px;

  &__element {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 5px;
  }

  &__text {
    margin: 0px;
  }
}
